# build output
dist/

# generated types
.astro/
.vscode/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
src/assets/img_banner/Artboard 5.png
src/assets/img_banner/Artboard 7.png
src/assets/img_banner/Artboard 8.png
src/assets/img_banner/Artboard 9.png
src/assets/img_banner/Artboard 10.png
src/assets/img_banner/Artboard 11.png
src/assets/img_banner/Artboard 13.png
src/assets/img_banner/Artboard 14.png
src/assets/img_banner/Artboard 15.png
src/assets/img_banner/Artboard 17.png
src/assets/img_banner/Pleasant moments 3.png
src/assets/img_banner/pleasant outfits 3.png
src/assets/img_banner/Artboard 4.png
