---
import Hero from "../components/hero.astro";
import Layout from "../layouts/Layout.astro";
import ProductGallery from "../components/productGallery.astro";
import SocialMedia from "../components/socialMedia.astro";
import PostCard from "../components/postCard.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <title>Pleasant – Upcycled Tøj</title>
  </head>
  <body>
    <main>
      <Header />
      <Hero />
      <ProductGallery />
      <SocialMedia />
      <PostCard />
      <Footer />
    </main>
  </body>
</html>
<style>
  body {
    margin: 0;
    background-color: #f8f5ed;
    overflow-x: hidden;
  }
</style>
