---
import Hero from "../components/hero.astro";
import Layout from "../layouts/Layout.astro";
import ProductGallery from "../components/productGallery.astro";
import SocialMedia from "../components/socialMedia.astro";
import PostCard from "../components/postCard.astro";
import Banner from "../components/Banner.astro";
import "../css/global.css";
---

<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <title>Pleasant – Upcycled Tøj</title>
  </head>
  <body>
    <main>
      <Layout>
        <Hero />
        <Banner />
        <ProductGallery />
        <SocialMedia />
        <PostCard />
      </Layout>
    </main>
  </body>
</html>

<style>
  body {
    margin: 0;
    background-color: #f8f5ed;
    overflow-x: hidden;
  }
</style>
