<div class="banner">
  <div class="track">
    <!-- Gentag billederne to gange for smooth loop -->
    <img src="/Artboard 3.png" alt="" />
    <img src="/Artboard 4.png" alt="" />
    <img src="/Artboard 5.png" alt="" />
    <img src="/Artboard 6.png" alt="" />
    <img src="/Artboard 7.png" alt="" />
    <img src="/Artboard 8.png" alt="" />
    <img src="/Artboard 9.png" alt="" />
    <img src="/Artboard 10.png" alt="" />
    <img src="/Artboard 11.png" alt="" />
    <img src="/Artboard 12.png" alt="" />
    <img src="/Artboard 13.png" alt="" />
    <img src="/Artboard 14.png" alt="" />
    <img src="/Artboard 15.png" alt="" />
    <img src="/Artboard 16.png" alt="" />
    <img src="/Artboard 17.png" alt="" />
    <img src="/Artboard 3.png" alt="" />
    <img src="/Artboard 4.png" alt="" />
    <img src="/Artboard 5.png" alt="" />
    <img src="/Artboard 6.png" alt="" />
    <img src="/Artboard 7.png" alt="" />
    <img src="/Artboard 8.png" alt="" />
    <img src="/Artboard 9.png" alt="" />
    <img src="/Artboard 10.png" alt="" />
    <img src="/Artboard 11.png" alt="" />
    <img src="/Artboard 12.png" alt="" />
    <img src="/Artboard 13.png" alt="" />
    <img src="/Artboard 14.png" alt="" />
    <img src="/Artboard 15.png" alt="" />
    <img src="/Artboard 16.png" alt="" />
    <img src="/Artboard 17.png" alt="" />
  </div>
</div>

<style>
  .banner {
    overflow: hidden;
    width: 100%;
    background: #f9f9f9;
  }
  .track img {
    height: 100px;
    margin-right: 10px;
    flex-shrink: 0;
  }
  .track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    background-color: #ffeb80;
    padding: 0.5rem 0;
  }

  @keyframes scroll {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0%);
    }
  }
</style>
