---
const { product } = Astro.props;
---

<a href={"product/" + product.id} <article class="image-wrapper">
  <img src={product.img1} alt={`picture of ${product.productname}`} class="base-image" />
  <img src="/scribble1.png" alt="Overlay" class="overlay-image" />
  <h2>{product.productname}</h2>
  <h3>{product.price},00 dkk</h3>
</a>

<style>
  * {
    text-decoration: none;
    color: black;
    text-align: center;
  }

  .image-wrapper {
    position: relative;
    display: inline-block;
  }

  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .image-wrapper:hover .overlay-image {
    opacity: 1;
  }

  article {
    text-align: center;
  }

  article:hover {
  }

  h3 {
    font-weight: normal;
    margin-top: 0em;
  }

  h2 {
    max-width: 60%;
    margin: 0.5em auto;
  }

  img {
    max-width: 100%;
  }
</style>
