@font-face {
  font-family: Pleasant-header;
  src: url("/public/Cream-black.otf");
}

@font-face {
  font-family: Pleasant-paragraph;
  src: url("/public/new-spirit-regular.otf");
}

h1,
h2,
h3,
h4 {
  font-family: Pleasant-header, sans-serif;
}

p,
ul,
li {
  font-family: Pleasant-paragraph;
}
