---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  @font-face {
    font-family: Pleasant-header;
    src: url("/public/Cream-black.otf");
  }

  @font-face {
    font-family: Pleasant-paragraph;
    src: url("/public/new-spirit-regular.otf");
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: Pleasant-header, sans-serif;
  }

  p,
  ul,
  li {
    font-family: Pleasant-paragraph;
  }
</style>
